# This is a basic workflow to help you get started with Actions

name: Build

on:
  workflow_dispatch: {}
  pull_request:
    branches: [ main ]
env:
  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}

jobs:
  buildAndTestForSomePlatforms:
    name: Build for ${{ matrix.targetPlatform }} on version ${{ matrix.unityVersion }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        projectPath:
          - ./
        unityVersion:
          - 2020.3.9f1
        targetPlatform:
          - Android
          #- iOS
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: false
      - name: Free disk space
        run: .github/workflows/scripts/free_disk_space.sh
      - name: Create LFS file list
        run: git lfs ls-files -l | cut -d' ' -f1 | sort > .lfs-assets-id
      - name: Restore LFS cache
        uses: actions/cache@v2.1.3
        id: lfs-cache
        with:
          path: .git/lfs
          key: ${{ runner.os }}-lfs-${{ hashFiles('.lfs-assets-id') }}-v1
      - name: Git LFS Pull
        run: git lfs pull
      - uses: actions/cache@v2.1.3
        with:
          path: ${{ matrix.projectPath }}/Library
          key: Library-${{ matrix.projectPath }}-${{ matrix.targetPlatform }}
          restore-keys: |
            Library-${{ matrix.projectPath }}-
            Library-
      - uses: game-ci/unity-test-runner@v2
        id: testRunner
        with:
          projectPath: ${{ matrix.projectPath }}
          unityVersion: ${{ matrix.unityVersion }}
      - uses: actions/upload-artifact@v1
        with:
          name: Test results (all modes)
          path: ${{ steps.testRunner.outputs.artifactsPath }}
      - uses: game-ci/unity-builder@v2
        id: buildStep
        with:
          customParameters: -developmentBuild
          buildMethod: UnityBuilderAction.BuildScript.Build
          projectPath: ${{ matrix.projectPath }}
          unityVersion: ${{ matrix.unityVersion }}
          targetPlatform: ${{ matrix.targetPlatform }}
          versioning: Semantic
          buildName: BaseDefender
          allowDirtyBuild: true
      - name: Rename build
        run: sudo mv build/Android/BaseDefender.apk build/Android/BaseDefender${{ steps.buildStep.outputs.buildVersion }}.apk
      - uses: actions/upload-artifact@v2
        with:
          name: Build
          path: build
